@media only screen and (max-width: 1500px) {
    .logo {
        height: 80px !important;
    }
    .port_main{
        padding-top: 130px;
    }
}

@media only screen and (max-width: 1400px) {
    .partners_logo {
        flex-direction: column;

        .partner_logo {
            justify-content: center;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 1350px) {
    .header {
        align-items: start !important;

        .header_menu {
            display: none;
        }

        .account {
            display: none;
        }

        .mobile_menu {
            display: flex;
        }

        .account {
            flex-direction: column;
            align-items: end;

            button {
                margin-bottom: 5px;
            }
        }
    }
    .contact_input {
        padding: 0 100px;
    }
    .order_select {
        flex-direction: column;
    }
    .footer {
        .footer_text {
            p {
                font-size: 18px !important;
            }
        }
    }
    .luxury_title {
        padding: 0 50px !important;
    }

}

@media only screen and (max-width: 1200px) {
    .about_main {
        .about_image {
            transform: scale(0.8);
        }
    }
}

@media only screen and (max-width: 1120px) {
    .new_order_btn {
        flex-direction: column;
        align-items: center;

        button {
            margin-bottom: 15px;
        }
    }
    .post_main {
        .post_title {
            font-size: 54px;
        }
    }
}

@media only screen and (max-width: 995px) {
    .header{
        display: block!important;
        .logo{
            transform: translateX(50%);
            position: relative;
            top:0;
        }
    }
    .luxury_title {
        padding: 0;
        left: 7px;
    }
    .luxury{
        height: 800px;
        overflow: hidden;
    }
    .post_main_text {
        padding: 0 0 75px 0;
    }
    .airport_input{
        width: 100%;
    }
    .contact_input{
        padding: 0;
    }
    .our-partners-index{
        padding: 25px 0 35px 0
    }
    .about_image{
        display: none;
    }
    .owl-menu-cards{
        &:before,&:after{
            content: none!important;
        }
    }
    .mobile_menu{
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 99;
    }
    .mobile_menu_open{
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .airport .airport_text{
        width: 100%;
    }
    .news_see_more{
        width: 100%;
    }
    .personal_main_left{
        width: 100px;
    }
    .personal_table{
        width: 90%;
    }
    .order_main .order_input{
        width: 100%;
    }
    .partnerships_main .partner_cards .partner_card{
        width: 100%;
    }
    .top_buttons {
        a {
            padding: 24px!important;
            margin: 0 12px!important;
        }
        bottom: 120px;
        margin-bottom: 100px;
    }
    .airport{
        padding: 0;
    }
    .bg_header{
        &:not(.airport_show){
            .top_buttons{
                bottom: 100px;
                margin-bottom: 0;
            }
        }

    }
}


